<div class="textBlock">
  <h3 class="textBlock__title">
    Wat te doen als je je huis zelf verkoopt of verhuurt?
  </h3>
  <p class="textBlock__content">
    Twijfel je hoe je moet beginnen aan de verkoop of verhuur van je woning?
    Geen nood. We begrijpen dat dit een spannende periode is en we willen je
    hier graag bij helpen.
  </p>
  <p class="textBlock__content">
    Daarom gidsen we je door het proces met een overzichtelijk stappenplan. Zo
    kan je zonder zorgen je woning te koop of te huur aanbieden. Het enige wat
    je nog moet doen, is beslissen of je wil verhuren of verkopen!
  </p>
  <div class="textBlock__buttons">
    <a href="https://www.google.be">Verkoop</a>
    <a href="https://www.google.be">Verhuur</a>
  </div>
</div>
